@using NoteUI.Models
@model HomeModel

@{
    ViewData["Title"] = "Home Page";
}

<br />

<div class="row">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                ...
            </div>
        </div>
    </div>

</div>